body {
    margin: 0;
    background-color: #fff;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgba(57, 55, 55);
    line-height: 50px;
}

.menu > li {
    color: rgb(141, 144, 146);
}

.menu > li:hover {
    color: #F5F5F7;
}

.logo {
    width: 16px;
    height: auto;
}

.magnifying-glass {
    padding-top: 16px;
}

.shopping-cart {
    width: 25px;
    height: auto;
    padding-top: 12px;
}

.sub-menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    line-height: 15px;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.sub-menu-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 39%;
    font-size: 13px;
    padding: 5px 8px;
}

#product {
    padding-left: 25px;
    font-weight: unset;
    font-size: 23px;
}

#description {
    color: gray;
    padding: 5px;
}

#specifications {
    padding: 5px;
}

#purchase-button {
    border-radius: 13px;
    background-color: rgb(24, 129, 193);
    color: white;
    font-size: 13px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 0.5px;;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    letter-spacing: 0.5px;
}
.iPhone {
    margin-top: 8%;
}

.sub-title {
    margin-top: 3%;
    margin-bottom: 0%;
    font-size: 30px;
}

#main-title {
    font-size: 48px;
    width: 36%;
}

.text {
    width: 52%;
    font-size: 20px;
}

.second-text {
    color: #86868B;
    font-size: 15px;
    font-weight: bold;
}
